<header class="row">
  <h1 id="home-header" class="text-center"><%= link_to 'Etienne Arent', root_path, class: 'header-link' %></h1>
</header>

<div class="row text-center">
  <div class="col-md-6 col-md-offset-3 heading">
    <h3 class="column-header">Skiing</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="middle">
    <% @skiing.each do |photo| %>
      <%= link_to photo.image.url(:original), class: "fancybox", rel: "photos" do %>
        <span class="overlay center-block"></span>
        <%= image_tag photo.image.url(:large), class: 'img-responsive' %>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="row text-center">
  <%= link_to "About", about_path, id: "info-link" %>
</footer>
