<%= render "layouts/header" %>

<div class="row text-center">
  <div class="col-md-6 col-md-offset-3 heading">
    <h3 class="column-header">Videos</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="middle">
    <% @videos.each do |video| %>
      <%= link_to video["vimeo_url"], class: "fancybox-media" do %>
        <span class="overlay center-block"></span>
        <%= image_tag video["thumbnail_url"], class: "img-responsive" %>
      <% end %>
    <% end %>
  </div>   
</div>

<footer class="row text-center">
  <%= link_to "About", about_path, id: "info-link" %>
</footer>
