$grid-gutter-width: 10px;

@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  margin: 0;
  // overflow: hidden;
  height:100%;
}

body {
  padding-top: 50px;
}

body.home {
  overflow: hidden;
  background-color: #000;
  padding-top: 0;
  // letter-spacing: 4px;
}

.container-fluid {
  margin-left: 2px;
  margin-right: 2px;
}

#left, #middle, #right {
  height: 200px;
  text-align: center;
  overflow-y: scroll;
}

#left::-webkit-scrollbar,
#middle::-webkit-scrollbar,
#right::-webkit-scrollbar {
 display: none;
}

.home a:last-child img {
  margin-bottom: 0;
}

header {
  color: #fff;
}

footer {
  line-height: 27px; // should be 30px but text is not vertically centered at 30px
  color: #f8f8ff;
}

.img-responsive, iframe {
  margin-bottom: 4px;
}

.heading {
  // background: #aaa;
  // padding-left: 0;
  // padding-right: 0;
  // margin-left: 5px;
  // margin-right: 5px;
}

// @media (min-width: 768px){
//   #left {
//     // position: absolute;
//     // top: 100px;
//     // bottom: 0;
//     // left: 1%;
//     // width: 32%;
//     height: 200px;
//     overflow-y: scroll; 
//     // margin-right: 10px;
//   }
// #middle {
//     // position: absolute;
//     // top: 100px;
//     // bottom: 0;
//     // left: 34%;
//     // width: 32%;
//     overflow-y: scroll; 
//   }
  
//   #right {
//     // position: absolute;
//     // top: 100px;
//     // bottom: 0;
//     // right: 1%;
//     // width: 32%;
//     overflow-y: scroll;
    
//   }
// }

#left {
  // background-color: #FC6E51;
  // text-align: center;
  // height:100%;
}

#middle {
  // background-color: #aaa;
  // text-align: center;
  // height:100%;
}

#right {
  // height:100%;
  // background-color: #4FC1E9;
  // text-align: center;
}


.log-in {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel { border-radius: 8px; }

iframe {
  @extend .img-responsive;
}

#image-preview {
  max-height: 300px;
}

span.overlay {
  background: rgba(0, 0, 0, 0.5) image-url("plus-2-32.png") center center no-repeat;
  position: absolute;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
}

#info-link, .header-link, .about-link {
  color: #f8f8ff;
  -webkit-transition: color 666ms ease-out;
  transition: color 666ms ease-out;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.about-link:focus {
  color: #f8f8ff;
}

#home-header, .column-header-link, #info-link, .column-header, .about-link, footer {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info-overlay-link, .column-header-link {
  color: black;
  -webkit-transition: color 666ms ease-out;
  transition: color 666ms ease-out;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.column-header {
  color: black;
}

#home-header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
}

h3 {
  margin-top: 0;
  margin-bottom: 4px;
  line-height: 30px;
  background-color: #f8f8ff;
  font-size: 10px;
}

#info-link, .about-link, footer {
  font-size: 8px;
}

h1 {
  font-size: 18px;
}

.col-xs-4, .col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
}

.about-link {
  padding: 0 5px;
}

.quote {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #f8f8ff;
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 20px;
}

@media (min-width: $screen-sm-min) {
  .container-fluid {
    margin-left: 5px;
    margin-right: 5px;
  }

  footer {
    line-height: 50px;
  }

  .img-responsive, iframe {
    margin-bottom: 10px;
  }

  #home-header, .column-header-link, #info-link, .column-header, .about-link, footer {
    letter-spacing: 4px;
  }

  #home-header {
    line-height: 100px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 14px;
  }

  .col-xs-4, .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  #info-link, .about-link, footer {
    font-size: 12px;
  }

  .about-link {
    padding: 0 13px;
  }

  .quote {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}
