<header class="row">
  <h1 id="home-header" class="text-center">
    <%= link_to root_path, class: 'header-link' do %>
      Etienne<%= image_tag "etienne_logo_black.jpg", id: "header-logo" %>Arent
    <% end %>
  </h1>
</header>
